#navb {
    height: 100vh;
    background-color: rgb( 0, 43, 92);
    -webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.59);
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.59);
    color: white;
}

.justify-vertical-center {
        font-family: 'Arbutus Slab', serif;
        padding-top: 30px; 
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right:   30px;
        display: inline-block;
}